.header-wrapper{
    background-color: white;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content{  
    width: 84rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.header-content-right{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.header-name{
    padding-left: 1rem;
}